# WPWW local configuration
WPWW_PORT=8080
RADAR_URL=http://host.docker.internal:5080
SIMULATE_PATH=/api/v1/internal/legacy-db-dump
WPWW_ENABLE_SIMULATOR=true
WPWW_ENABLE_TELEMETRY=false
WPWW_ENABLE_CI=false
WPWW_ENABLE_AUDIO=true
SNIFFER_INTERVAL=10
SNIFFER_TIMEOUT=2
SIMULATOR_INTERVAL=15
